/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-text: hsl(0, 0%, 100%);
  --white-text-hover: hsl(0, 0%, 90%);
  --color-background: hsl(210deg, 30%, 8%);
  --grid-cell-color: hsl(211, 38%, 15%);
}

body {
  min-width: 100vw;
  font-family: "Outfit", sans-serif;
  color: var(--white-text);
  background: var(--color-background);
}

img {
  max-width: 100%;
  height: auto;
}

.title-header {
  font-size: 2rem;
  font-weight: 700;
  margin: 3rem 0rem;
  text-align: center;
  text-decoration: underline;
  color: var(--white-text);
}

a:visited,
.title-header:visited {
  color: var(--white-text);
}

a:hover,
.title-header:hover {
  color: var(--white-text-hover);
}

.content-grid {
  display: grid;
  gap: 2rem;
  margin: 0em 5em;
  grid-template-columns: repeat(3, 1fr);
  outline: 2px solid gray;
}

.challenge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background: var(--grid-cell-color);
  border: 2px outset gray;
}

.challenge > img {
  width: 280px;
  height: 280px;
  border-radius: 0.938rem;
}
