/* CSS Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS Variables */
:root {
  --dark-blue: #1f3251;
  --light-blue: #d6e2f0;
  --slate-grey: #7b879d;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--light-blue);
  font-family: "Outfit", sans-serif;
  font-size: 0.938rem;
}

h1 {
  font-size: 1.375rem;
  font-weight: 700;
  max-width: 17.5rem;
  text-align: center;
  margin-top: 0.563rem;
}

p {
  margin-top: 0.563rem;
  max-width: 280px;
  font-size: 0.938rem;
  font-weight: 400;
  text-align: center;
  color: var(--slate-grey);
}

img {
  width: 17.5rem;
  height: 17.5rem;
  max-width: 100%;
  height: auto;
  border-radius: 0.938rem;
}

.card {
  background: white;
  border-radius: 1em;
  padding: 1.2em;
  box-shadow: 1px 9px 12px -4px rgba(0, 0, 0, 0.57);
}

.attribution {
  margin-top: 0.53em;
  font-size: 11px;
  font-size: 0.688rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
